@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

:root {
    --SoftMagenta: hsl(300, 69%, 71%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
}

body {
    font-size: 16px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
   min-width: 100%;
}

.text-container {
    font-family: 'Josefin Sans', sans-serif;
    grid-column: 1/3;
    background: url("images/bg-pattern-desktop.svg") no-repeat,linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: cover;
    padding-left: 10rem;
}

.container-logo {
    width: 12rem;
    height: 3rem;
    margin-top: 65px;
}


h1 {
    width: 370px;
    font-size: 59px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--DarkGrayishRed);
    letter-spacing: 30px;
    margin-top: 5rem;
}

span {
    color: var(--DesaturatedRed);
    font-weight: 300;
    letter-spacing: 25px;
}

p {
    font-size: 1rem;
    color: var(--DesaturatedRed);
    margin-top: 2rem;
    width: 27.5rem;
    line-height: 32px;
    font-weight: 600;
}

input {
    border: 1px solid hsl(0, 73%, 88%);
    margin-top: 49px;
    width: 450px;
    height: 54px;
    border-radius: 50px;
    font-size: 16px;
    text-align: left;
    position: relative;
}

input::placeholder {
    color: hsl(0, 88%, 90%);
    padding-left: 25px;
}


button {
    height: 54px;
    width: 100px;
    border-radius: 50px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    position: absolute;
top: 89%;
    left: 32rem;
    box-shadow: 0px 15px 30px hsl(0, 54%, 87%);
}

button:hover {
    cursor: pointer;
}

.active {
    border: 1px solid red;
    background: url("images/icon-error.svg") no-repeat 70% 50%;
}

.error {
    display: none;
}

.error-msg {
    display: block;
    color: red;
    margin-top: 10px;
    margin-left: 30px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 0px auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
